let mapleader = "\"

noremap <C-W>q :action VimWindowClose<cr>
noremap <C-W>j :action VimWindowDown<cr>
noremap <C-W>k :action VimWindowUp<cr>
noremap <C-W>h :action VimWindowLeft<cr>
noremap <C-W>l :action VimWindowRight<cr>
 
noremap <C-j> }
noremap <C-k> {
noremap <C-h> ^
noremap <C-l> $
 
noremap <leader><leader>s :action AceAction<cr><esc>
