[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mark/Desktop/text.txt]
row=3
col=0

[/home/mark/Desktop/aws-cda-notes.md]
row=6
col=0

[/home/mark/Desktop/AWS-Associate-Developer-Study-Guide.pdf]
row=4
col=0

[/home/mark/Desktop/slack-bot.txt]
row=5
col=0

[Wastebasket]
row=0
col=0

[/]
row=1
col=0

[/home/mark]
row=2
col=0

