$if mode=vi
   set show-mode-in-prompt
   set vi-ins-mode-string \1\e[6 q\2
   set vi-cmd-mode-string \1\e[2 q\2
   #set vi-ins-mode-string "+"
   #set vi-cmd-mode-string ":"

   set keymap vi-command
   "ciw": "lbcw"
   "diw": "lbdw"

   set keymap vi-insert
   Control-l: clear-screen
$endif
