set completion-ignore-case
#set show-all-if-ambiguous
set editing-mode vi

$if mode=vi
   set show-mode-in-prompt
   set vi-ins-mode-string \1\e[6 q\2
   set vi-cmd-mode-string \1\e[2 q\2
   #set vi-ins-mode-string "+"
   #set vi-cmd-mode-string ":"

   set keymap vi-command
   "ciw": "lbcw"
   "diw": "lbdw"
   "ciW": "lBcW"
   "diW": "lBdW"
   Control-h: "^"
   Control-l: "$"

   set keymap vi-insert
   Control-l: clear-screen
$endif
